#message {
    font-style: italic;
    color: gray;
  }
  li {
    list-style: none;
    margin-bottom: 10px;
  }
  .brewery-name {
    font-weight: bold;
  }
  .brewery-distance {
    color: gray;
  }

h1 {
  margin-top: 50px;
}
.location-form {
  margin-top: 50px;
  display: inline-block;
  text-align: left;
  padding: 20px;
  background-color: lightgray;
}
label, input[type="submit"] {
  display: block;
  margin-bottom: 10px;
}