.container {
  max-width: 80%;
  margin: 0 auto;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: lightgray;
  padding: 0px;
  margin: 0px;
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.return{
  color: goldenrod;
  text-decoration: none;
  border: none;
  background-color: inherit;
  font: inherit;
  cursor: pointer;
}

.devPage{
  color: goldenrod;
  text-decoration: none;
  border: none;
  background-color: inherit;
  font: inherit;
  cursor: pointer;
}

.brewerMe {
  color: darkblue;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 55px;
  text-align:center;
}

.motto {
  color: darkblue;
  margin-bottom: 30px;
  font-size: 25px;
  text-align:center
}

.formSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.searchBox {
  padding: 10px;
  font-size: 16px;
  width: 45%;
  margin-bottom: 20px;

}

.submit {
  background-color: darkblue;
  display: flex;
  color: goldenrod;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
  font-size: 25px;
  justify-content: center;
  align-items: center;
}

.hidden{
  display: none;
}

.brewLocations{
  display: flex;
  height: 50vh;
  border: 5px black;
}

.brewName{
   list-style: none;
   height: 35px; 
   font-size: 20px;
}

.pictures{
  height: 250px;
  width: 250px;
  border-radius: 8px;
}

.brewHeader{
  font-size: 35px;
  padding: 15px 0px 15px 0px;
}

.aboutContent{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.devHead{
  color: blue;
  font-size: 35px;
}

.devParagraph{
  width: 100vh;
  line-height: 30px;
}

#weatherSuggestion{
  font-size: 25px;
  color: goldenrod;
  font-weight: bold;
  margin:45px 0px 55px 0px ;
  background-color: grey;
  border-radius: 5px;
}

.line{
  color: goldenrod;
  line-height: 35px;
  padding-left: 0px;
  background-color: grey;
  border-radius: 5px;
}

.failHeader{
  margin-top: 35px;
}


.breweries{
  margin-right: 150px;
}

/* Larger than mobile */
@media (max-width: 400px) {
  
}

/* Larger than phablet */
@media (max-width: 550px) {
.searchPage{
  width: 100%;
}

}

/* Larger than tablet */
@media (max-width: 750px) {
  .searchPage{
    width: 100%;
  }
}

/* Larger than desktop */
@media (max-width: 1000px) {

}

